<mai class="container mb-4">
    <h1 class="mb-4 text-white">Tech Blog Posts</h1>
    <div class="row">
        {{#each posts}}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header bg-warning">
                    <h2 class="card-title">
                        <a href="/posts/{{id}}" class="text-dark">{{title}}</a>
                    </h2>
                </div>
                <div class="card-body text-dark">
                    <p>Posted by: {{user.username}} Date: {{format_date }}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    </main>