<main class="container mt-4">
    <h1 class="mb-3">Log-In</h1>
    <form class="login-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="username-login" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" placeholder="Password" id="password-login" />
        </div>
        <button class="btn btn-primary" type="submit">Log-In</button>
    </form>
</main>