<main class="container mt-4">
    <h2 class="mb-4">Contribute To Tech Blog!</h2>
    <form class="new-post-form">
        <div class="mb-3">
            <label for="title-new-post" class="form-label">Title:</label>
            <input type="text" class="form-control" placeholder="Enter Title" id="title-new-post" />
            <div class="mb-3">
                <label for="body-new-post" class="form-label">Body:</label>
                <input type="text" class="form-control" id="body-new-post" placeholder="Enter body here" />
                </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Create Post</button>
            </div>
        </div>
    </form>
</main>